/*
 Theme Name:   Aromen
 Description:  Aromen Template
 Author:       Marcin Lisewski 
 Author URI:   https://mlisewski.com/
 Template:     organic-beauty
 Version:      1.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  aromen
*/

.body_wrap {
    overflow:hidden;
}
@media (max-width: 1439px) and (min-width: 1263px) {
    .slider_boxed, .content_wrap, .content_container {
        width: 1100px!important;
    }
}

@media (max-width: 1262px) and (min-width: 1136px) {
    .slider_boxed, .content_wrap, .content_container {
        width: 1140px!important;
    }
}
@media (max-width: 1135px) and (min-width: 1024px){
.slider_boxed, .content_wrap, .content_container {
    width: 1014px!important;
}
}
.top_panel_wrap .logo {
    margin: 0.6em 0 0.6em;
    overflow: hidden;
}
.top-info {
    background: #093B25;
    text-align: center;
    color: white;
    padding: 5px 0!important;
}

.top-info p.top-text {
    margin-bottom: 0;
}
.scheme_original .top_panel_top {
    background:#fff!important;
}
.scheme_original .top_panel_bottom {
    background:#f2f2f2;
    
}

.top_panel_wrap .logo_main {
   max-height: 77px;
    width: auto;
   /* margin: 15px auto 20px;*/
}
.top_panel_bottom .cart-container {
    background: rgb(79,79,79);
    position:relative;
}


.top_panel_bottom .cart-container a {
    color:#fff;
    text-transform:uppercase;
    font-size:13px!important;    
    font-weight:500;
    letter-spacing:0px;
    padding:0px;

}
.top_panel_bottom .cart-container a:after {
    content:' ';
    background:#4f4f4f;
    width:1000px;
    pointer-events:none;
    height:10px;
    position:absolute;
    display:block;
    left:90px;
    top:-7px;
    height:46px;
    z-index:-1;
}

.top_panel_bottom .cart-container .cart-icon-new {
    width: 24px;
    display: inline-block;
    float: left;
    position: absolute;
    height: 24px;
    left: 8px;
    top: 8px;
}
.menu_main_nav > li > a {
   padding: 1.1em 1.2em 1.3em;
}
/* hide batch number*/
table.variations tr:nth-child(2) {
    display: none;
}

#batch-number, 
label[for="batch-number"],
table.variations tr:nth-child(2) {
    display: none!important;
}

label[for="batch-number"], #batch-number {
	display:none;
}

dt.variation-BatchNumber {
    display: none!important;
}

dd.variation-BatchNumber {
    display: none!important;
}

.pagination_single > .pager_numbers, .pagination_single a, .pagination_slider .pager_cur, .pagination_pages > a, .pagination_pages > span {
	width:40px;
	height:40px;
	line-height:40px;
}
.top-bar-mobile {
    display: flex;
    align-items: center;
    min-height: 24px;
    background: #093B25;
}
ul.top-bar-mobile-menu {
    list-style: none;
    font-size: 0;
    display: flex;
}
ul.top-bar-mobile-menu li a {
    padding: 10px 8px;
}

.products.columns-4{
    list-style:none;
}

.products.columns-4 li {
    width: 25%;
    float: left;
    min-height:375px
}

.search-results a.button.product_type_variable.add_to_cart_button {
    
    cursor: pointer;
   
    text-transform: uppercase;
   
    line-height: 1.3em;
    font-weight: 700;
    
    letter-spacing: 0.15em;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    
    display: block;
    margin: 10px auto;
    max-width: 9.2em;
    padding: 0.5em 1em;
    background-color: #555f64;
    color: #ffffff;
    font-family: "Open Sans Condensed",sans-serif;
}
    
.search-results .woo_buttons_wrap {
        display: block;
        height: auto;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        z-index: 10;
        -webkit-transition: opacity 0.3s ease 0s;
        -moz-transition: opacity 0.3s ease 0s;
        -ms-transition: opacity 0.3s ease 0s;
        -o-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
    }
    
    .search-results .post_item_wrap:hover .woo_buttons_wrap {
        opacity: 1;
    }
    
    
    
    .search-results .post_item_wrap a.hover_icon.hover_icon_link:hover:before {
        display:none;
    }
    .search-results .post_item_wrap a.button {
        display: none;
    }
    
    .search-results .post_item_wrap .hover_icon:after {
        display: none;
    }
    .search-results .post_thumb {
        min-height: 195px;
    }

    .search-results .post_content h3 {
       font-size: 16px;
    }

@media (min-width:767px){
    .top-bar-mobile {
        display:none;
    }
}
@media (max-width:768px){
    .products.columns-4 li {
        width: 50%;
        float: left;
        min-height:420px;
    }
}

.woocommerce-checkout input[type="tel"], 
.woocommerce-checkout input[type="text"], 
.woocommerce-checkout input[type="number"], 
.woocommerce-checkout input[type="email"], 
.woocommerce-checkout input[type="password"], 
.woocommerce-checkout input[type="search"], 
.woocommerce-checkout select, 
.woocommerce-checkout textarea {
    border: 1px solid #dfdfdf!important;
}

.woocommerce-checkout #wc-braintree-credit-card-credit-card-form iframe {
	min-height:30px!important;
}


.woocommerce-checkout h3#order_review_heading {
    padding-top: 0px!important;
    color:#333;
}

.woocommerce-checkout  .woocommerce-billing-fields {
    /* padding: 10px;
    background: #fafaf1;
    box-shadow: 2px 2px 3px #999; */
    margin-bottom: 1.6em;
}



.woocommerce-checkout  h3#order_review_heading {
    font-weight: 300;
    font-family:'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing:2px;
}


.woocommerce-checkout  .woocommerce-billing-fields h3 {
    font-weight: 300!important;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color:#333;
    letter-spacing:2px;
}



.woocommerce-checkout  .shop-table-wrapper {
    /* background: #fafaf1!important;
    padding:10px;
    box-shadow: 2px 2px 3px #999; */
    margin-bottom:25px;
}

.woocommerce-checkout table.shop_table {
    background: white!important;

}

.woocommerce-checkout #payment {
    /* box-shadow: 2px 2px 3px #999;
    background: #fafaf1!important;
    padding: 10px; */
    background:white!important;
}
.payment_box.payment_method_braintree_credit_card {
    background: white!important;
}

.woocommerce-checkout  #payment h3 {
    font-weight:300;
    font-family:'Open Sans Condensed', sans-serif;
    text-transform:uppercase;
    color:#333;
    letter-spacing:2px;
    margin-bottom:0!important;
}
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
    background: #093B25;
}

form.checkout_coupon.woocommerce-form-coupon {
    box-shadow: 2px 2px 3px #999;
}

.woocommerce-shipping-fields {
    /* padding: 10px;
    background: #fafaf1;
    box-shadow: 2px 2px 3px #999; */
}
.woocommerce .checkout h3, .woocommerce-page .checkout h3 {
    font-weight: 300;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#333;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
    font-weight: 400;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    color:#333;
    text-transform:capitalize;

}
.woocommerce-checkout label{
    color:#333;
    /* font-weight: 800; */
    
}
.woocommerce-checkout .woocommerce-shipping-methods label {
    font-weight: 300!important;
    font-size: 12px;
    line-height: 14px;
}

.woocommerce-additional-fields {
    /* padding: 10px;
    background: #fafaf1;
    box-shadow: 2px 2px 3px #999; */
    margin-top: 2em;
}

label[for="order_comments"] {
    font-weight: 300;
    font-family:'Open Sans', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    color: #333;
}

.woocommerce table.shop_table thead th, 
.woocommerce-page table.shop_table thead th {
    
    text-align: left;
    font-weight: 400!important;
    
    color: #333;

}

.woocommerce-privacy-policy-text {
    color: #333;
}

.cart-customlocation {
position:relative;
z-index:2;
}

.copyright_wrap .hide-footer{
display:none!important;
}
.header_mobile .logo_main {
    max-height: 100px !important;
}

.rev_slider .TRX-link .sc_button {
    background: #c3d05a !important;
    color: #ffffff !important;
}

.rev_slider .TRX-link .sc_button:hover {
    background: #ffffff !important;
    color: #c3d05a !important;
}

.sc_intro_title {
	font-family: montserrat !important
}


.post_info{
display:none;}
.woocommerce-checkout section.woocommerce-bacs-bank-details {
    display: none;
}
.tax-product_cat .woo_buttons_wrap a:nth-child(2) {
    display: none!important;
}
.post-type-archive-product  .page_content_wrap{
   padding-top: 0px;
}
.post-type-archive-product  .top_panel_title {
 padding-bottom: 0px;
}

.post-type-archive-product .category-header h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
    margin-top:0px
}
.post-type-archive-product .category-box {
    position: relative;
    margin-bottom:30px
}
.post-type-archive-product .category-box img {
    max-width:370px;
    width:100%
}
.post-type-archive-product .category-desc {
    position: absolute;
    top: 0;
    left: 35px;
    max-width: 180px;
}

.post-type-archive-product .category-desc > div {
    display: flex;
    flex-flow: column nowrap;
    height: 230px;
    justify-content: flex-end;
    align-content:start;
}

.post-type-archive-product .category-desc h4 {
    font-size:28px;
    align-self:flex-start;
    margin:auto 0px;
    line-height:32px;
    font-family:'Montserrat', sans-serif;
    color: rgb(185, 211, 0);

     
}
.post-type-archive-product .category-desc p {
    font-size:12px;
    line-height:18px;
    color:rgb(83, 94, 99);
margin-bottom: 10px;
    
}

.post-type-archive-product .category-desc a {
        background: rgb(185,211,0);
    display: inline-block;
    padding: 7px 20px 9px 10px;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
position:relative
}
.post-type-archive-product .category-desc a:after {
    content: ' >';
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 7px;

}

.post-type-archive-product .category-desc.ham h4 {
    color: rgb(171, 137, 88);
}

.post-type-archive-product .category-desc.ham a {
    background: rgb(171, 137, 88);
}

.post-type-archive-product .category-desc.ham p {
    color: white;
}
.post-type-archive-product .hammam-logo img {
    max-height: 65px;
    width: auto;
    margin-bottom: 15px;
}
/*.post-type-archive-product .woocommerce-notices-wrapper,
.post-type-archive-product .mode_buttons,
.post-type-archive-product  p.woocommerce-result-count,
.post-type-archive-product form.woocommerce-ordering,
.post-type-archive-product ul.products,
.post-type-archive-product table.products,
.post-type-archive-product nav#pagination,
.post-type-archive-product a.woocommerce_list.icon-th-list,
.post-type-archive-product a.woocommerce_thumbs.icon-th:before {
    display: none;
}*/

.post-type-archive-product .category-desc p {
    margin-bottom: 10px;
    font-size:12px;
    
}

@media (max-width:960px){
.post-type-archive-product .category-desc h4{
font-size:20px;
line-height:24px;
}

.post-type-archive-product .category-desc p:first-child {
    display:none;
    
}
.post-type-archive-product .category-desc > div{
height:170px;}
}

@media (max-width:768px){
.post-type-archive-product .category-desc>div {
    height: 240px;
}
}

@media (max-width:480px){
.post-type-archive-product .category-desc>div {
    height: 212px;
}
}

.tax-product_cat .description img {
    max-width: 200px;
}

/*.tax-product_cat .description {
  
    max-height: 10.5em;
    overflow: hidden;
}*/

.tax-product_cat .post_featured img {
    max-height: 270px;
    width: auto!important;
    margin: 0px auto!important;
}


.tax-product_cat ul.products > li.product:last-child {
    border: 0px;
}

@media (max-width: 1263px){
 .tax-product_cat .description{
    max-height: 10.3em;
}

}

@media (max-width: 640px){
 .tax-product_cat .description h4{
    margin-top:0px;

}

}
table.products {
   width: 100%;
   padding:30px 0px;
   margin-bottom:50px;    
}


table.products thead tr {
   border-bottom:1px solid #ccc;


}
table.products thead  th {
text-align: left;
}

table.products td, table.products th{
    padding:5px 15px 5px 
}


table.products tbody tr:first-child td {
    padding-top: 15px;
}

.ml-discount-info {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border: 2px solid #093B25;
    max-width: 240px;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
    box-shadow: 5px 5px 20px -9px;
}



.ml-discount-info strong {
    color: red;
    width: 50px;
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}

.page-id-4035 .quantity input {
    margin: 10px 7px 0px 0px;
    max-width: 60px;
    
}

.page-id-4035 form.cart {
    max-width: 100%;
}

.page-id-4035 button.single_add_to_cart_button {
    padding: 8px 10px;
    font-size: 15px;
    margin: 9px 0px 0px 0px;
}

.page-id-4035 .woocommerce-quick-order thead tr {
    background: #a8b73a;
    color: #FFF;
}


.single-product h1.product_title.entry-title {
    font-size: 39px!important;
    letter-spacing: 0;
    font-weight: normal!important;
    color: #093b25;
    max-width: 460px;
}

.single-product .summary [itemprop="description"] h3 {
    font-size: 31px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 0.5em;
    font-family: 'abril-display';
    font-weight: normal;
    margin-top: 1em;
    color: #093b25!important;
}
.single-product div.product div.summary {
    margin-bottom:4em;
}
.single-product section.related.products h2 {
    font-size: 31px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'abril-display';
    font-weight: normal;
    margin-top: 1em;
    color: #093b25!important;
    letter-spacing: 0;
}
.single-product  section.related.products .product{
    text-align:center;
}
.single-product section.related.products h3 {
    min-height: 3em;
}
.single-product  section.related.products h3 a {
    font-size: 20px;
    line-height: 26px;
    color: #093b25!important;
    font-family: 'abril-display', serif;
}

.single-product section.related.products li.product .product_cats a {
    text-decoration: none;
    text-transform: initial;
    font-size: 13px!important;
    color: #093b25;

    font-family: 'Montserrat', sans-serif;
}
.single-product  section.related.products li.product .price {
    font-size:16px!important;
}

.single-product  section.related.products img {
    max-width: 275px;
    margin: auto!important;
}

.single-product ul.products li.product .post_item_wrap  {
    max-width: 275px;
    margin: auto;
}




.single-product .summary [itemprop="description"] p,
.single-product .summary [itemprop="description"] li {
    font-size: 16px;
    line-height: 28px;
    color:#576065;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0;
}
.single-product [itemprop="description"] ul{
    margin-bottom:1em;
}

.single-product form.cart table label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #576065;
}
.single-product input[type="tel"],
.single-product input[type="text"],
.single-product input[type="number"],
.single-product input[type="email"],
.single-product input[type="password"],
.single-product input[type="search"],
.single-product select,
.single-product textarea {
    border: 1px solid #e7e7e7!important;
    padding: 10px;
    max-width:284px!important;
    width:100%!important;
}

.single-product .single_add_to_cart_button {
    padding: 18px 20px!important;
    max-width: 189px!important;
    width: 100%!important;
    margin-top:40px;
    display:inline-block!important
}

.single-product #wl-wrapper.wl-button-wrap {
    clear: none;
    margin: 0px 10px;
    display: inline-block!Important;
    padding: 0;
    max-width: 32px!important;
    width: 100%;
    margin-top: 50px;
    float: left;
}

.single-product #wl-wrapper .wl-add-link.present {
    padding: 0px !important;
    width: 32px!important;
    height: 32px!important;
    display: block;
    background-size: contain!important;
}


.single-product a.wl-add-to.wl-add-but.button.present.sc_button_hover_fade {
    max-width: 189px;
    width: 100%;
    padding: 18px 10px;
}

.single-product button.single_add_to_cart_button.button.alt.sc_button_hover_fade {
    margin-top: 40px;
}

.single-product .quantity {
    margin-top: 50px!important;
}
@media (max-width:1025px){
    /* .single-product #wl-wrapper.wl-button-wrap{
        max-width:168px!important;
    }
    .single-product .single_add_to_cart_button {
        max-width: 168px!important;
    } */
}
@media (max-width:960px) and (min-width:768px){
    /* div#wl-wrapper {
        margin-top: 10px!important;
        margin-left: 0px!important;
        
    } */
}
@media (max-width:460px){
    /* .single-product #wl-wrapper.wl-button-wrap{
        max-width:102px!important;
    }
    .single-product .single_add_to_cart_button {
        max-width: 135px!important;
        height:62px;
    }
    .single-product .quantity {
        margin-top: 60px!important;
    } */
}
.single-product .bundled_products span.bundled_product_title_inner {
    font-size: 18px;
    /* margin-bottom: 0px!important; */
}
.single-product  section.related.products {
    clear:both;
}

.single-product .bundled_products h4.bundled_product_title.product_title {
    
    margin-bottom: 0px!important;
}

.single-product .bundled_products .bundled_product_summary .bundled_product_title a.bundled_product_permalink:before {
    font-size: 12px;
}

.single-product .bundled_products .bundled_item_cart_content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 170px;
}

.single-product .bundled_products .woocommerce-variation-price {
    margin-bottom: 0px!important;
}

.single-product .bundled_products p.stock.in-stock {
    margin-top: 0px;
    line-height: 1.2em;
}

.single-product div.product .bundle_form table.variations {
    flex: 1 1 50%;
}

.single-product .bundled_products td.bundled_item_col.bundled_item_details_col {
    padding-top: 0px!important;
}

.single-product .bundled_products select#pa_size {
    max-width: 80px;
}

.single-product .bundled_products td.bundled_item_col.bundled_item_images_col {
    display: none;
}

.single-product .bundled_products th.bundled_item_col.bundled_item_images_head {
    display: none;
}


.single-product .bundled_products th.bundled_item_col.bundled_item_details_head {
    text-align: left;
    padding:0;
}

.single-product .bundled_products th.bundled_item_col.bundled_item_qty_head {
    text-align: left!important;
    padding:0;
}
.bundled_products .bundled_item_col.bundled_item_qty_head,
.bundled_products .bundled_item_col.bundled_item_qty_col {
    display: none;
}

.menu-item-language {
    margin-left:15px!important
}

.header_mobile .logo_main {
    max-height: 50px !important;
}

.woocommerce div.product form.cart .variations select {
    min-width: 175px;
}

.cart-container {
    display: inline-block;
    padding: 7px;
    padding-left:40px;
    margin: 0px;
    /* margin-top: -11px; */
    float: right;
    height: 32px;
    line-height: 32px;
}

a.badge-container {
    position: fixed;
    bottom: 50%;
    padding: 5px 10px 10px;
    color: white;
    background: #d14040;
   height:100px;
    left: -103px;
    font-weight:bold;
}
a.badge-container:hover {
    color:white;
left: 0px;
}
a.badge-container span {
    display: block;
}


span.rotated_text {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 43px;
  
    font-size: 14px;
    border-top: 1px solid white;
    right: -24px;
    height: 28px;
}

span.desc {
    max-width: 80px;
    margin-left: 10px;
margin-right:20px;
    margin-top: 20px;
line-height:18px;
    
}

@media (max-width:768px){
.mc-banner {
    background: white;
    width: 100%;
    text-align: center;
    z-index: 99999!important;
}
.mc-layout__bannerContent {
    height: 123px;

}

.mc-layout__bannerContent iframe {
    height: 100%!important;
}
}





.woocommerce-checkout .validate-eu-vat-number input {
    border-color: #555f64!important;
}


span.woocommerce-Price-amount.amount {
    color: #555f64!important;
    
}

.woocommerce .product_meta  table.shop_attributes th {
    text-align: left;
}

.woocommerce-cart .coupon button.button,
.woocommerce-cart button[name="update_cart"],
.woocommerce-cart .checkout-button {
    background: rgb(185, 211, 0)!important;

}
.woocommerce-cart .checkout-button {
   max-width:300px;
   float:right;

}
.woocommerce-cart button[name="update_cart"]  {
    float:right!important;
}

.woocommerce-cart  a.no-button {
    background: transparent;
    color: #093B25;
    text-transform: capitalize;
    font-weight: 300;
    text-decoration: underline;
    text-align: center;
   	padding: 0.5em 0;
    font-size: 0.857em;
    line-height: 1.3em;
    min-width: 140px;
    display: inline-block;
}
.woocommerce-cart a.no-button:hover {
    background:transparent!important;
    font-weight:bold;
    color: #093B25!important;
    border:0px!important
}
.woocommerce-cart  div.quantity span, .woocommerce-cart  div.quantity span {
    background:#093B25!important;
}
.woocommerce-cart input[type="tel"], 
.woocommerce-cart input[type="text"], 
.woocommerce-cart input[type="number"], 
.woocommerce-cart input[type="email"], 
.woocommerce-cart input[type="search"], 
.woocommerce-cart input[type="password"], 
.woocommerce-cart select, .scheme_original textarea{
    border-color:#093B25!important;

}
.woocommerce-cart span.woocommerce-Price-amount.amount {
    font-weight:bold;
}

.woocommerce-cart .bag {
    max-width: 50%;
    width:100%;
    float: left;
}
.woocommerce-cart .bag-wrapper{
    max-width:350px;
    width:100%;
    margin:auto;
}
.woocommerce-cart table.shop_table.woocommerce-cart-form__contents thead th:nth-child(even){
    background:rgb( 104, 115, 120);
    }
.woocommerce-cart table.shop_table.woocommerce-cart-form__contents th:nth-child(odd){
    background:rgb( 83, 94, 99);
}
.woocommerce-cart table.shop_table.woocommerce-cart-form__contents {
    border:0px;
}
.woocommerce-cart th.product-thumbnail,
.woocommerce-cart th.product-remove {
    background: transparent!important;
    border: 0;
}

.woocommerce table.shop_table td {
    border:0px;
}
.woocommerce-cart table.shop_table td.product-name,
.woocommerce-cart table.shop_table td.product-price,
.woocommerce-cart table.shop_table td.product-quantity,
.woocommerce-cart table.shop_table td.product-subtotal,
.woocommerce-cart table.shop_table td.actions{
    border-top:1px solid rgba(0,0,0,.1)!important;
}
.woocommerce-cart .breadcrumbs {
    display: none;
}

.woocommerce-info {
    border-top-color: #093B25;
}
.woocommerce-info::before {
    color: #093B25;
}
.breadcrumbs {
    display:none;
}

@media (min-width:1000px){
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
        max-width: 1000px;
        margin: auto;
        
    }
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents  th.product-quantity {
        width: 100px;
    }
    
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents  th.product-subtotal {
        width: 100px;
    }
    
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents  th.product-price {
        width: 100px;
    }
    
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents  td.product-thumbnail {
        width: 100px;
    }
    
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents  td.product-remove {
        width: 30px;
    }
}

.archive.woocommerce .top_panel_title {
    padding-top:0;
}
header.woocommerce-products-header:after {
    content: ' ';
    display:block;
    clear:both;float:none;
    }
.woocommerce-products-header {
    clear:both;
    float:none;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
}
.woocommerce-products-header .cat-featured-image {
    max-width: 25%;
    float: left;
    border: 1px solid #dee79b;
    margin-right: 25px;
    margin-bottom: 15px;
}

.woocommerce-products-header .cat-featured-image  img{
    width:200px;
    max-width:100%;
}
.woocommerce-products-header h1.page_title.text-left {
    float: left;
    margin: 0 auto 0.5em;
    clear: right;
    color: #093B25;
    width:70%
}

.woocommerce-products-header .term-description {
    float: left;
    clear: right;
    max-width: 70%;
}

.archive.woocommerce .woocommerce-notices-wrapper {
    clear:both;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    max-width:1000px;
    margin:auto;
}

.woocommerce-cart input#coupon_code {
    margin-top:0;
}

.bottom-menu {
    background:#343b3e;
}
.bottom-mobile-menu {
    list-style: none;
    padding-left:0px;
    margin-bottom:0;
    background:#343b3e
}
.bottom-mobile-menu li {
    margin-bottom:0px
}
.bottom-mobile-menu a{
    padding: 17px 35px;
    padding-right: 54px;
    font-size: 12px;
    line-height: 16px;
    display:block;
    color:white!important;
    text-transform:uppercase;
    border-bottom:1px solid #4d565a;
}

@media (max-width: 640px) {
    .woocommerce-products-header .cat-featured-image {
        margin-right: 0px;
    }
}

.tax-product_cat ul.products > li.product{ 
    margin-bottom: 0!important;
}

.woocommerce .checkout h3, .woocommerce-page .checkout h3 {
    font-family: abril-display, serif!important;
    font-weight: 600!important;
}

.page-template-blog h5.post_title {
    min-height: 3em;
}

.single-product  form.cart {
    position:relative;
    padding-bottom: 70px!important;
}
.single-product .product-trees {
    display: flex;
    max-width: 300px;
    align-items: center;
    margin: 25px 0;
    justify-content: flex-start;
    position: absolute;
    bottom: 0px;
}

.single-product .product-trees .trees-number {
    margin: auto 0 0;
    display: flex;
}

.single-product .product-trees span.num {
    display: block;
    text-align: right;
    padding: 0px 6px 0 0;
    font-weight: bold;
}

.single-product .product-trees span.desc {
    margin: auto;
    max-width: none!Important;
    /* display: block!important; */
}

.single-product .product-trees .trees-number svg {
    margin: 0 5px;
}

.single-product .product-trees span.desc {
    margin-left: 5px;
}

.woocommerce-checkout  .trees-wrapper {
    margin: 25px auto 25px 0;
    text-align: left;
    border: 1px solid #e5e5e5;
    border-right: 0;
    border-left: 0;
    padding: 15px 15px;
}
.woocommerce-checkout  .trees-wrapper .before-trees {
    text-align: center;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
}
.woocommerce-checkout .trees-wrapper .after-trees {
    display: block;
    text-align: center;
    font-size: 10px;
    max-width: 375px;
    margin: auto;
    line-height: 12px;
}

.woocommerce-checkout .product-trees {
    display: flex;
    max-width: 100%;
    box-sizing:border-box;
    align-items: center;    
    justify-content: flex-start;
    padding:6px 0 12px;
    
    
}

.woocommerce-checkout .product-trees .trees-number {
    margin: auto 0 0;
    display: flex;
    margin:auto;
}

.woocommerce-checkout .product-trees span.num {
    display: block;
    text-align: right;
    padding: 0px 6px 0 0;
    font-weight:bold;
    color: #093b25;
    font-size: 24px;
    font-family: 'abril-display', serif;
    line-height: 30px;
}

.woocommerce-checkout .product-trees span.desc {
    margin: auto;
    max-width: none!Important;
    /* display: block!important; */
}

.woocommerce-checkout .product-trees .trees-number svg {
    margin: 0 5px;
}

.woocommerce-checkout .product-trees span.desc {
    margin-left: 5px;
}
.woocommerce-checkout .trees-wrapper a{
    font-weight: bold;
    color: #093b25;
}

.new-products .esg-content:first-child a {
    font-size: 20px;
    line-height: 26px;
    color: #093b25!important;
    font-family: 'abril-display', serif!important;
    text-overflow: ellipsis!important;
    text-align:center;
}

.new-products .esg-content:first-child{
    height: 4em;
	overflow:hidden;
    
}


.new-products .esg-content [rel="tag"] {
    text-decoration: none;
    text-transform: initial!important;
    font-size: 12px!important;
    color: #093b25;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}


.new-products .esg-content:last-child {
    text-align: center;
    float: none;
}
.new-products .esg-content:nth-child(2) {
    width: 100%;
    text-align: center!important;
}

@media (max-width:768px){
    header.woocommerce-products-header .cat-featured-image {
        margin: 10px auto!important;
        clear: both!important;
        float: none!important;
    }
    
    header.woocommerce-products-header {
        text-align: center;
    }
    
    header.woocommerce-products-header h1.page_title.text-left {
        margin: 10px auto!important;
        float: none!important;
        clear: both!important;
    }
    
    header.woocommerce-products-header .term-description {
        float: none!important;
        clear: none!important;
        margin: auto!Important;
    }
    .woocommerce-cart button[name="apply_coupon"],
    .woocommerce-cart button[name="update_cart"] {
        width: 230px!important;
        margin-bottom:5px;
        padding:10px 0!important;
    }


    .woocommerce-cart input#coupon_code {
        width: 230px!important;
        margin-bottom:10px;
        padding:10px 10px!important;
        text-align:center;
        float:right;
        margin-right:0!important;
    }

    .woocommerce-cart [title="Empty Cart"] {
        clear: both!important;
        float: none!important;
        box-sizing: border-box;
        display: block;
        margin-right: 0;
        text-align: right!important;
        position: relative;
        padding: 10px 0!important;
    }
    .woocommerce-cart .bag {
        display:none;
    }

    .woocommerce-cart table.shop_table_responsive tr td{
        text-align:right!important;
    }
}

/* customiZe */

#wl-wrapper .wl-add-but,
#wl-wrapper .wl-add-but:hover{
	background: -webkit-linear-gradient(#555f64,#555f64);
}

button.single_add_to_cart_button.button.alt.sc_button_hover_fade {
	background-color: #093B25!important;
}

.post_item_single.post_item_product .woocommerce-tabs.wc-tabs-wrapper {
	display: none;
}

.top-info {
	background: #093B25!important;
}

.woocommerce-products-header h1.page_title.text-left {
    color: #093B25!important; 
}

.woocommerce-products-header .cat-featured-image {
	border: 1px solid #093B25;
}

.summary.entry-summary div span {
	color: #093B25!important; 
}
.summary.entry-summary .quantity span {
	color: #ffffff!important; 
}

.contact_cart_totals:hover {
	color: white;
}

.woocommerce-cart .checkout-button,
.woocommerce-cart button[name="update_cart"],
.woocommerce-cart .coupon button.button {
    background: #093B25!important;
}

.woocommerce-cart div.quantity span {
    background: #093B25!important;
}

.woocommerce-cart input[type="number"],
.woocommerce-cart input[type="text"]{
	border-color: #093B25!important;
}

.woocommerce-cart a.no-button {
	color: #093B25;
}


rs-layer#slider-7-slide-29-layer-3 strong,
rs-layer#slider-4-slide-31-layer-3 strong, 
rs-layer#slider-5-slide-30-layer-3 strong { font-family: abril-display, serif!important; font-weight: 400!important;
}

.eg-store-grid-fixed-wrapper .esg-cc>div a, .eg-store-grid-wrapper .esg-cc>div a {
    font-family: "Montserrat",sans-serif !important;
    font-weight: 500!important;
    letter-spacing: 1px;
}
.eg-store-grid-fixed-element-0 {
	font-family: "Montserrat",sans-serif !important;
}
.eg-store-grid-fixed-wrapper .eg-store-grid-fixed-element-34-a a {
    display: none;
    text-align: left;
    font-family: "Montserrat"!important;
    font-size: 10px!important;
}

@media (max-width: 479px) {
.slider_boxed, .content_wrap, .content_container {
    width: 90%;
}
}

.woocommerce-products-header .cat-featured-image {
    border: 0;
}

.woocommerce-products-header h1.page_title.text-left {
    color: #093B25!important;
    font-family: abril-display, serif!important;
	text-transform: capitalize;
}

.tax-product_cat .products .post_content {
    text-align: center;
}

.tax-product_cat ul.products>li.product {
    margin-bottom: 20px!important;
}

.woocommerce div.product .product_title, 
.woocommerce .related.products h2,
.scheme_original .top_panel_title_inner .page_title,
.woocommerce .cart-collaterals h2,
.post_content h2 {
	font-family: abril-display, serif!important;
    text-transform: capitalize;
}
@media (max-width: 479px){
	.related.products .products .product {
			width: 50%!important;
			float: left!important;
		margin-bottom:5px!important;
	}
}

ul.wc_payment_methods.payment_methods.methods label svg {
    margin-left: 5px!Important;
}

.postid-21288 .thwepo-extra-options .thwepof-input-field{
	width: 175px;
}

.postid-21443 .thwepo-extra-options .thwepof-input-field{
	width: 175px;
}

.postid-21453 .thwepo-extra-options .thwepof-input-field{
	width: 175px;
}

.postid-21453 .thwepo-extra-options .thwepof-input-field{
	width: 175px;
}

.postid-21288  .thwepo-extra-options .label{
	padding-right: 100px;
}

.postid-21443 .thwepo-extra-options .label{
	padding-right: 108px;
}

.postid-21453 .thwepo-extra-options .label{
	padding-right: 55px;
}

.page-id-21415 .thwepo-extra-options .label{
	padding-right: 55px;
}


.postid-21288 .thwepo-extra-options .value{
	text-align:center;
}

.postid-21443 .thwepo-extra-options .value{
	text-align:center;
}

.postid-21453 .thwepo-extra-options .value{
	text-align:center;
}

.page-id-21415 .thwepo-extra-options .value{
	text-align:center;
}

.postid-21288 .thwepo-extra-options .label{
	font-weight: 800;
}

.postid-21443 .thwepo-extra-options .label{
	font-weight: 800;
}

.postid-21453 .thwepo-extra-options .label{
	font-weight: 800;
}

.page-id-21415 .thwepo-extra-options .label{
	font-weight: 800;
}

.single-product .entry-summary h2 {
    text-transform: initial;
    letter-spacing: 1px;
    margin: 1em 0px;
    font-size: 24px;
}

.single-product [itemprop="description"] p {
    margin-bottom: 1em;
}

.single-product [itemprop="description"] {
    margin-bottom: 4em!Important;
}

.list_products .post_content h3 a {
    font-size: 20px;
    line-height: 26px;
    color: #093b25!important;
    font-family: 'abril-display', serif!important;
    text-overflow: ellipsis!important;
    text-align: center;
}

/* Custom Badge */
 
.badge_single {
	text-align: center;
	background: #222;
	color: white;
	font-weight: bold;
	font-size: 10px;
	position:static;
	width: 12%;
	margin-bottom:1%;
}
.badge_container_single{
	display:flex; 
	flex-direction:column; 
	width: 47%;
	position: relative; 
	z-index: 1; 
	top: 5rem; 
	bottom: 10%;
}

.badge{
	padding: 3px 8px;
	text-align: center;
	background: #222;
	color: white;
	font-weight: bold;
	font-size: 10px;
	top: 6px;
	right: 6px;
	position:static; 
	width:20%; 
	margin-top:1%;
}

.badge_container{
	display:flex; 
	flex-direction:column; 
	position: absolute; 
	z-index: 1; 
	top: 1rem; 
	bottom: 10%;
	width:100%;
}

.products > .product >.badge_container {
    top: 0;
}
.badge_eco_container_single{
	position: absolute;
    display: flex;
    right: 10%;
    bottom: 100px;
    flex-direction: column;
    width: 15%;
}
.badge_eco_single{
	position:relative;
	width: 70%;
}
.badge_eco_container{
	position: absolute;
    display: flex;
    right: 30%;
    bottom: 1vh;
    flex-direction: column;
    width: 13%;
}
.badge_eco{
	position: relative;
	bottom: 20px;
	left: 80%;
}
.essential_badge{
	padding: 3px 8px;
	text-align: center;
	background: #222;
	color: white;
	font-weight: bold;
	font-size: 10px;
	top: 6px;
	right: 6px;
	position:static; 
	width:25%; 
	margin-top:1%;
}

.essential-badge_container{
	display:flex; 
	flex-direction:column; 
	position: absolute; 
	z-index: 1; 
	top: 1rem; 
	bottom: 10%;
	width:100%;
}
.essential_badge_eco_container{
	position: absolute;
    display: flex;
    right: 12%;
    bottom: -10px;
    flex-direction: column;
    width: 15%;
}
.essential_badge_eco{
	position: relative;
	bottom: 20px;
	left: 80%;
}

.bestseller{
	background-color:#20512e;
}
.essential_bestseller{
	width:27%;
}
.besseller_category {
    width: 70px !important;
}

.soldout{
	background-color:#f00;
}
.sell_out{
	width: 10%;
}
.new_category, .sell_out_category{
	width:30px !important;
}

@media (max-width: 1439px) {
    .badge {
		font-size:8px;
		padding:0px;
		width:30%;
    }
/* 	.badge_container{
		top:3rem;
	} */
	.badge_single{
		font-size:10px;
		width:16%;
	}
	.sell_out{
/* 		width: 12%; */
		width:30px;
	}
	.essential_sell_out {
    	width: 15% !important;
}
}
@media (min-width:1390px) and (max-width:1440px)  {
	.essential_bestseller{
		width:29%;
	}
}

@media (max-width: 965px){
    .badge {
		font-size:7px;
		padding:0px;
		width:20%;
    }
/* 	.badge_container{
		top:3.5rem;
	} */
	.badge_single{
		height:20px;
		font-size:7px;
		padding:0px;
		margin-bottom:.3%;
	}
	.badge_eco_container_single{
		bottom:50px;
	}
	.badge_eco_single{
		width:100%;
	}

}
@media (max-width: 770px) {
	.badge_single{
		padding:0px;
		width:20%;
	}
	#sidebar{
		width:0px !important;
	}
	.widget-title{
		display:none;
	}

}
@media (max-width: 640px) {
	.badge_single{
		width:25%;
		margin-bottom:1%;
	}
	.badge{
		width:30%;
	}
/* 	#sidebar{
		width:30% !important;
	} */
}

//Essential Category Sidebar
#sidebar-container{
	width: 100%;
    display: flex !important;
    margin: auto;
}
.sidebar-container .products{
	width:100%;
}
#sidebar{
	margin-right:5px;
	width: 25%;
}
#sidebar ul{
	font-size:12px;
}

.widget-title{
	font-size:12px;
	border-bottom:1px solid;
}
.content_flex{
	display:flex;
	flex-direction:column;
}
.content_wrap--flex{
	display:flex;
	flex-direction:row-reverse;
}
.list_products{
	width: 1440px;
}
.woocommerce-ordering{
	align-self:flex-end;
}
@media(max-width:770px) {
	.list_products{
	width:100%;
}
.content_wrap--flex{
	flex-direction:column;
}
.woocommerce-ordering{
	float:none !important;
	width: 100%;
	}
}

/* Yotpo customization */

textarea#yotpo_input_review_content_3de228c6-5f37-46da-b69e-0361eeba8b6c {}

.y-input.yotpo-text-box {
    width: 100%;
    max-width: 100%!important;
}

.yotpo .write-review .connect-wrapper {
    padding-left: 0;
}

div#write-review-tabpanel-main-widget {}

.write-review.yotpo-regular-box {
    max-width: 800px;
    margin: auto;
}

.yotpo-default-button {
    background: #164f2c!important;
}

h2.y-label.yotpo-header-title {
    font-family: 'abril-display';
    text-transform: capitalize!important;
    color: #164f2c!important;
    text-transform: capitalize!important;
}

.main-widget.yotpo-display-wrapper.yotpo-no-reviews {
    max-width: 800px;
    margin: auto;
}

.yotpo-header h2 {
    text-transform: capitalize!important;
}

.yotpo .y-input {
    background: #f5f5f5!important;
    border: 0!important;
} 

.y-input.yotpo-text-box {
    border: 0px!important;
}
@media (max-width:768px){
    footer .content_wrap {
        text-align: center;
    }
}
.top_panel_top .search_field {
    max-width:100%;
}
@media (max-width:768px){
    .green-popup-wrapper .left-column {
        display: none!important;
    }
}
