/* Main Body */
@page {
	margin-top: 1cm;
	margin-bottom: 3cm;
	margin-left: 2cm;
	margin-right: 2cm;
}
body {
	background: #fff;
	color: #535e63;
	margin: 0cm;
	font-family: 'Open Sans', sans-serif;
	/* want to use custom fonts? http://docs.wpovernight.com/woocommerce-pdf-invoices-packing-slips/using-custom-fonts/ */
	font-size: 9pt;
	line-height: 100%; /* fixes inherit dompdf bug */
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 36pt;
	margin: 5mm 0;
	text-align:center;
	text-transform:uppercase;
	
}

h2 {
	font-size: 14pt;
}

h3, h4 {
	font-size: 9pt;
}


ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li,
ul {
	margin-bottom: 0.75em;
}

p {
	margin: 0;
	padding: 0;
}

p + p {
	margin-top: 1.25em;
}

a { 
	border-bottom: 1px solid; 
	text-decoration: none; 
}

/* Basic Table Styling */
table {
	border-collapse: collapse;
	border-spacing: 0;
	page-break-inside: always;
	border: 0;
	margin: 0;
	padding: 0;
}

th, td {
	vertical-align: top;
	text-align: left;
}

table.container {
	width:100%;
	border: 0;
}

tr.no-borders,
td.no-borders {
	border: 0 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
	width: auto;
}

/* Header */
table.head {
	margin-bottom: 12mm;
}

td.header img {
	max-height: 3cm;
	width: auto;
}

td.header {
	font-size: 16pt;
	font-weight: 700;
}
.order-data-addresses tr td {
	
}
td.shop-info {
	width: 40%;
}
.document-type-label {
	text-transform: uppercase;
}

/* Recipient addressses & order data */
table.order-data-addresses {
	width: 100%;
	margin-bottom: 4mm;
	padding:10px;
}

td.order-data {
	width: 50%;
	
	
}
td.order-data.package {
	width: 50%!important;
	
}
td.order-data div{
	margin:5pt;
	padding:8pt 9pt 11pt;
	border:1px solid #e7e7e7;
	height:30mm;
}
td.billing-address {
	width: 50%;
	
	
}
td.billing-address.package {
	width: 50%!important;
	
}
td.billing-address div{
	margin:5pt;
	padding:8pt 9pt 11pt;
	border:1px solid #e7e7e7;
	height:30mm;
}

.invoice .shipping-address {
	width: 30%;
}

.packing-slip .billing-address {
	width: 30%;
}

td.order-data table th {
	font-weight: normal;
	padding-right: 2mm;
}

/* Order details */
table.order-details {
	width:100%;
	margin-bottom: 4mm;
}

.quantity,
.price {
	/* width: 20%; */
}

.order-details tr {
	page-break-inside: always;
	page-break-after: auto;	
}

.order-details td,
.order-details th {
	/* border-bottom: 1px #ccc solid; */
	border-top: 1px #ccc solid;
	padding: 0.375em;
	font-size:7pt;
	font-weight:normal;
	border: 0px;
}


.order-details th {
	font-weight: bold;
	text-align: left;
}

.order-details thead th {
	color: white;
	background-color: black;
	border-color: black;
	font-weight:normal;
}

.order-details thead th:nth-child(odd){
	background: #687378;
}
.order-details thead th:nth-child(even){
	background: #535e63;
}
.order-details tbody tr:nth-child(odd) td:nth-child(odd),
.order-details tbody tr:nth-child(even) td:nth-child(even) {
	background: #f3f3f3;
}
.order-details tbody tr:nth-child(odd) td:nth-child(even) {
	background: #eaeaea;
}
.order-details tbody tr .info{
	background: #ffffff;
}
.order-details  tr .white-bg{
	background: #ffffff;
}
.order-details  tr .dark-bg{
	background: #535e63;
	color: #ffffff;
}
.order-details tr .text-center{
	text-align:center;
}

/* product bundles compatibility */
.order-details tr.bundled-item td.product {
	padding-left: 5mm;
}

.order-details tr.product-bundle td,
.order-details tr.bundled-item td {
	border: 0;
}

.order-infoo td {
	vertical-align: middle;
	border:1px solid #efefef;
	border-bottom:1px solid #efefef!important;
}

/* item meta formatting for WC2.6 and older */
dl {
	margin: 4px 0;
}

dt, dd, dd p {
	display: inline;
	font-size: 7pt;
	line-height: 7pt;
}

dd {
	margin-left: 5px;
}

dd:after {
	content: "\A";
	white-space: pre;
}
/* item-meta formatting for WC3.0+ */
.wc-item-meta {
	margin: 4px 0;
	font-size: 7pt;
	line-height: 7pt;
}
.wc-item-meta p {
	display: inline;
}
.wc-item-meta li {
	margin: 0;
	margin-left: 5px;
}

/* Notes & Totals */
.customer-notes {
	margin-top: 5mm;
}

table.totals {
	width: 100%;
	margin-top: 5mm;
}

table.totals th,
table.totals td {
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.totals th.description,
table.totals td.price {
	/* width: 50%; */
}

table.totals tr.order_total td,
table.totals tr.order_total th {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-weight: bold;
}

table.totals tr.payment_method {
	display: none;
}

table.summary {
	width:100%;
}
table.summary td table{
	
	text-align:center;
	width:100%;
	
}
table.summary td:first-child{
	border:1px solid #e7e7e7;
}
table.summary td:nth-child(3) td{
	background: #bfd240;
	font-size:12pt;
	text-align:center;
	font-weight:bold;
	padding:9pt 0px 10pt;
}
table.summary td:nth-child(3) th{
	background: #809a24;
	color:#ffffff;
	padding:4 0px 6px;
	text-align:center;
	font-size:8pt;
	font-weight: normal;
}
table.summary td:nth-child(4) th{
	background: #535e63;
	color:#ffffff;
	padding:4 0px 6px;
	text-align:center;
	font-size:8pt;
	font-weight: normal;
}
table.summary td:nth-child(4) td{
	background:#687378;
	padding:9px;
	color:#ffffff;
	font-size:12pt;
	text-align:center;
	font-weight:bold;
	padding:19pt 0px 20pt;
}



table.summary .sum-totals{
	width: 45%;
	padding:14pt 16pt;
}

table.summary .sum-space{
	width: 15%;
}

table.summary .sum-discount{
	width:15%;
	text-align:center;
}

table.summary .sum-total-to-pay{
	width:20%;
	text-align:center;
}
table.signature {
	margin-top:20px;
	width:100%;
}
table.signature td.sign-left {
	width: 70%;
}
table.signature td.sign-right {
	width: 30%;
	text-align: center;
}

table.footer-nts {
	width:100%;
	margin-top:10px;
}
table.footer-nts tr:first-child{
	background: #809a24;
	
}

table.footer-nts tr:first-child td:first-child p{
	padding: 5px 5px;
	text-align: left;
	color: #ffffff;
}


table.footer-nts tr:first-child td:nth-child(2) p {
	padding: 5px 5px;
	color: #ffffff;
	text-align: right;
}
table.footer-nts tr:nth-child(2) p {
 background: #bfd240;
 padding: 5px 5px;
 color: #465711;
}


/* Footer Imprint */
#footer {
	position: absolute;
	bottom: -2cm;
	left: 0;
	right: 0;
	height: 5cm; /* if you change the footer height, don't forget to change the bottom (=negative height) and the @page margin-bottom as well! */
	text-align: center;
	/* border-top: 0.1mm solid gray; */
	margin-bottom: 0;
	padding-top: 2mm;
}

/* page numbers */
.pagenum:before {
	content: counter(page);
}
.pagenum,.pagecount {
	font-family: sans-serif;
}