/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }

  /* custom styles  */
body  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px; 
}
  p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #535E63;
}
h1, h2, h3, h4, h5, h6 {
    color: #093B25;
    font-family: 'abril-display';
}

.main {
  background-image: url('https://aromen.be/wp-content/uploads/2021/05/popup-background.png');
  background-position-x: 200px;
  background-position-y: bottom;
  background-size: 800px;
  background-repeat: no-repeat;
}

.header {
    background: #093B25;
    background-size:cover !important;
    display:flex;
    min-height:288px;
}

.header_wrapper {
    max-width: 740px;
    width:100%;
    margin: auto;
    padding: 25px;
}
.header *{
    color:white;
}

.header__logo,
.footer__logo {
  max-width: 310px!important;
  width: 100%;
}

.header__title {
    font-size:53px;
    font-weight:400;
    margin-bottom:20px;
}
.header__subtitle {
    font-size:25px;
    font-weight:400;
    margin-bottom:20px;
}
@media (max-width:768px){
    h1.header__title {
        font-size: 24px;
        text-align:center;
    }

    h2.question__title {
      font-size: 24px;
      line-height: 32px;
  }
    
    h3.header__subtitle {
        font-size: 18px;
        text-align:center;

    }
    
    .header {
        min-height: 100px;
        background-size: cover;
    }

    .header_wrapper {
      text-align: center;
    }

    .header__logo,
    .footer__logo {
      max-width: 250px!important;
      width: 100%;
    }
}
.content {
    padding-bottom:150px;
} 

.content__wrapper {
    max-width: 740px;
    padding:0 25px;
    margin: auto;
}

.content__wrapper img {
    max-width: 100%;
    border-radius:10px;
    margin: 0px 0 25px;
}

.answers__item {
    border: 1px solid #093b25;
    max-width: 320px;
    margin: 10px 0;
    padding:10px;
    border-radius:10px;
    transition:0.5s ease background;
}

.answers__item:hover,
.answers__item.active {
    cursor:pointer;
    background: #093b25;
    color:white;
}

h2.question__title {
    margin: 2em 0 1em;
    font-size: 31px;
    line-height: 40px;
    font-weight: 400;
}
.answers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}
.answers__item {
    border: 1px solid #093b25;
    max-width: 44%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex: 1 1 40%;
    width:40%;
    align-items: center;
    background-color: white;
}
@media (max-width:768px){
    /*.answers {
        justify-content: center;
    }*/
    .answers__item {
        max-width: 320px;
        flex: 1 1 100%;
    }
}

.answers_item_letter {
    background: #093b25;
    width: 32px;
    height: 32px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: flex;
}
.answers__item:hover .answers_item_letter,
.answers__item.active .answers_item_letter {
    /* border:1px solid #093b25; */
    color: #093b25;
    background:white;
}

.answers_item_text {
    padding: 5px 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    align-items:center;
}

.navigation__next svg,
.navigation__prev svg {
  width: 18px;
  position: absolute;
}

.navigation__next svg {
  top: 10px;
  right: 25px;
}

.navigation__prev svg {
  top: 10px;
  left: 10px;
}

.navigation__prev {
    cursor: pointer;
    text-decoration:underline;
   display:block;
   padding:10px;
   border-radius:5px;
    text-align:Center;
   width:100px;
   font-weight:600;
   color: #535E63;
   position: relative;
   padding-left: 20px!important;
}
.navigation__prev:hover {
    cursor: pointer;
    background:#093b25;
    color:white;
}

.navigation__next {
  background: #093b25;
  color: white;
    cursor: pointer;
    text-decoration:none;
   display:block;
   padding:10px;
   border-radius:5px;
   text-align:Center;
   width:140px;
   border:1px solid #093b25;
   position: relative;
   padding-right: 20px!important;
   padding-left: 0;
}
.navigation__next:hover {
    cursor: pointer;
    background:#093b25;
    color:white
}

.answer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
}
.answer__text {
    padding: 0px 25px;
    width: calc(75% - 97px);
}
.answer:first-child .answer__text {
    width: calc(96% - 230px);
    height: auto;
    display: block;
}


.answer {
    width:49%;
}
.answer:first-child {
    width:100%;
}
.answer .answer__img {
    width:96px;
}
.answer:first-child .answer__img {
    width: 204px;
}

.footer__wrapper {
  text-align: center;
  margin-top: 4em;
}

.result__html {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top:2em;
}

.result__html .answer h3.answer__title {
  font-size: 24px!important;
}

.social_media-share {
  display: flex;
  justify-content: space-between;
  max-width: 565px;
  width: 100%;
}

.social_media-share a{
  text-decoration:none;
}

.socials {
  display: flex;
  padding: 0px 20px;
  border: 1px solid #164F2C;
  border-radius: 10px;
  width: 220px;
}

.socials img {
  max-width: 20px;
  padding: 0px 10px;
  margin-bottom: 0;
}

span.floral-type,
span.floraal-type {
    font-weight: bold;
    color: #B5358B;
}
span.citrus-type {
    font-weight: bold;
    color: #FFD400;
}
span.woody-type,
span.houtig-type {
    font-weight: bold;
    color: #602D00;
}
span.earthy-type,
span.aardse-type {
    font-weight: bold;
    color: #47392D;
}
span.spicy-type,
span.pittig-type {
    font-weight: bold;
    color: #BA2E34;
}
span.herbal-type,
span.kruidig-type {
    font-weight: bold;
    color: #6C9B52;
}

.answer h3.answer__title {
    font-size: 20px;
    margin:auto;
    line-height:1.2em;
    font-weight:400;
    margin-bottom:10px;
}
.answer:first-child h3.answer__title {
    font-size: 32px;
    margin:auto;
    line-height:1.2em;
    font-weight:400;
    margin-bottom:10px;
}

.answer:first-child  h2.answer__percentage {
    font-size: 70px;
    line-height:1.2em;
    line-height: 70px;
    font-weight:400;
    margin: auto;
}

.answer:first-child p.answer__content {
    margin: auto;
    font-size: 16px;
    font-weight: 300;
    color: #093B25!important;
}

p.answer__content {
  color: #093B25!important;
  font-weight: 300;
  font-size:16px;
}

@media (max-width:768px){
    .result__html {
        flex-flow: column nowrap;
    }
    
    .answer {
        max-width: 320px;
        flex-flow: column nowrap;
        margin: auto;
    }
    
    .answer__text {
        width: 100%!important;
    }
    
    h3.answer__title {
        font-size: 24px!important;
    }
    
    h2.answer__percentage {
        font-size: 40px!important;
        line-height: 54px!important;
    }
    
    .answer__text {
        text-align: center;
    }
    
    p.answer__content {
        text-align: center;
        margin-top: 5px;
    }
}